<app-header></app-header>
<ion-content>
    <div class="container">
        <h1>Cambio de contraseña</h1>
        <ion-list>
            <ion-list-header> Contraseña anterior </ion-list-header>
            <ion-item>
                <ion-input [type]="oldTextFieldType ? 'text' : 'password'" placeholder="Ingrese su anterior contraseña" #old_password>
                </ion-input>
                <ion-icon [name]="oldTextFieldType ? 'eye-off' : 'eye'" slot="end" (click)="togglemyOldPasswordFieldType()">
                </ion-icon>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-list-header> Contraseña nueva </ion-list-header>
            <ion-item>
                <ion-input [type]="ismyTextFieldType ? 'text' : 'password'" placeholder="Ingrese su nueva contraseña" #new_password>
                </ion-input>
                <ion-icon [name]="ismyTextFieldType ? 'eye-off' : 'eye'" slot="end" (click)="togglemyNewPasswordFieldType()">
                </ion-icon>
            </ion-item>
        </ion-list>
        <div class="ok" [hidden]="!ok?.length">{{ok}}</div>
        <div class="error" [hidden]="!error?.length">{{error}}</div>
        <button slot="end" class="send" (click)="send({
              old_password: old_password.value, new_password: new_password.value})">Cambiar contraseña</button>
    </div>
</ion-content>