<img class="logo" src="../../../assets/icon/eci-white.svg" />
<div class="section-container">
  <div class="welcome">
    Ingresa tu nueva Contraseña
  </div>
  <div class="error" [hidden]="!error?.length">{{error}}</div>
  <form class="mail-form" [formGroup]="form" (submit)="ForgotPassword()">

    <div class="input-pass">
      <ion-input [type]="passOne ? 'text' : 'password'" id="password" formControlName="password" class="form-control"
        placeholder="Contraseña"></ion-input><ion-icon [name]="passOne ? 'eye-off' : 'eye'" slot="end"
        (click)="togglePassOne()"></ion-icon>
    </div>

    <div class="input-pass">
      <ion-input [type]="passTwo ? 'text' : 'password'" id="password_check" formControlName="password_check"
        class="form-control" placeholder="Confirma tu contraseña"></ion-input><ion-icon
        [name]="passTwo ? 'eye-off' : 'eye'" slot="end" (click)="togglePassTwo()"></ion-icon>
    </div>

    <div class="button-pass">
      <button class="send">Confirmar</button>
    </div>
  </form>
</div>
<ion-footer class="ion-no-border">
  <span>{{date}} Created by</span>
  <img class="tvc-logo" src="../../../assets/icon/tvc-white.svg" />
</ion-footer>