.logo {
    padding: 0vw 15vw 0 15vw;
    background-color: var(--ion-color-light-contrast);
}

.section-container {
    background-color: var(--ion-color-light-contrast);
    height: fit-content;
    padding: 0 15vw;
    .welcome {
        text-align: center;
        font-size: 36px;
        margin-bottom: 36px;
        color: #848282;
    }
    .error {
        color: red;
        margin-top: -6vw;
        margin-bottom: 4vw;
        line-height: 4vw;
        text-align: center;
    }
    .mail-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: var(--ion-color-light-contrast);
        ion-input {
            width: 100%;
            padding: 2vw 4vw;
            margin-bottom: 4vw;
            border: 1px solid var(--ion-color-light);
            --placeholder-color: var(--ion-color-light);
            --placeholder-opacity: 0.5;
            color: var(--ion-color-light);
            padding: 0;
            --padding-top: 2vw;
            --padding-end: 4vw;
            --padding-bottom: 2vw;
            --padding-start: 4vw;
        }
        .send {
            width: fit-content;
            padding: 2vw 8vw;
            font-size: 4vw;
            line-height: 4vw;
            font-weight: bold;
            background-color: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
            margin-bottom: 4vw;
        }
    }
}

ion-footer {
    display: flex;
    background-color: var(--ion-color-light-contrast);
    height: 15vw;
    color: var(--ion-color-light);
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 2vw;
    padding-right: 4vw;
    span {
        padding-bottom: 2vw;
        margin-right: 2vw;
    }
    .tvc-logo {
        width: 13vw;
        height: 13vw;
    }
}