<img class="logo" src="../../../assets/icon/el_diario.png" />
<div class="section-container">
    <div class="welcome">
        Ingresa tu Correo
    </div>
    <form class="mail-form" [formGroup]="formPassword" (submit)="getEmail()">
        <div class="error" [hidden]="!error?.length">{{error}}</div>
        <ion-input type="email" id="email" formControlName="email" class="form-control" placeholder="Email"></ion-input>
        <button class="send">Confirmar</button>
    </form>
</div>
<ion-footer class="ion-no-border">
    <span>{{date}} Created by</span>
    <img class="tvc-logo" src="../../../assets/icon/tvc-white.svg" />
</ion-footer>