.navigation-menu {
  padding: 4vw 0 4vw 4vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;

  .section-ref {
    flex: 0 0 auto;
    width: fit-content;
    padding: 1vw 4vw;
    margin: 0 2vw 0 0;
    background-color: #E7E6E6;
    border-radius: 2vw;
  }
}

.navigation-menu::-webkit-scrollbar {
  display: none;
}

.section-container {
  padding: 4vw 0 4vw 4vw;
  margin-bottom: 4vw;

  .section {
    margin-bottom: 4vw;

    .section-name {
      font-size: 24px;
      margin-bottom: 2vw;
      width: calc(100% - 4vw);
      padding: 1vw 2vw;
      border-radius: 2vw;
      background-color: var(--ion-color-primary);
    }

    .subtitle {
      font-size: 16px;
      margin-bottom: 2vw;
      color: var(--ion-color-medium);
      padding-right: 4vw;
    }

    .scrolling-wrapper {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      white-space: nowrap;

      .card {
        flex: 0 0 auto;
        width: 55vw;
        padding: 0;
        margin: 0 4vw 0 0;
        border: 1px solid gray;
        border-radius: 2vw;
        position: relative;

        /* display: inline-block;
          min-height: 70vw;
          max-height: 70vw;
          height: 70vw; */


        .post-thumb {
          width: 100%;
          border-radius: 2vw;
        }

        .icons {
          position: absolute;
          bottom: 4vw;
          left: 4vw;

          .icon {
            width: 7vw;
            height: 7vw;
            margin-right: 4vw;
          }
          
          .liked {
            color: red;
          }
        }

        .content {
          padding: 0 4vw 11vw 4vw;

          p {
            margin: 4vw 0;
            white-space: normal;
          }

          .title {
            font-size: 20px;
          }

          .body {
            font-size: 16px;
          }
        }
      }
    }

    .scrolling-wrapper::-webkit-scrollbar {
      display: none;
    }
  }
}