<img class="logo" src="../../../assets/icon/el_diario.png" />
<div class="section-container">
    <div class="welcome">
        Bienvenido
    </div>
    <div class="error" [hidden]="!error?.length">{{error}}</div>
    <form class="mail-form" [formGroup]="form" (submit)="login()">
        <ion-input type="email" id="email" formControlName="email" class="form-control" placeholder="Email"></ion-input>

        <div class="input-pass">
            <ion-input [type]="passOne ? 'text' : 'password'" id="password" formControlName="password" class="form-control" placeholder="Contraseña">
                <ion-icon [name]="passOne ? 'eye-off' : 'eye'" slot="end" (click)="togglePassOne()"></ion-icon>
            </ion-input>
        </div>

        <!-- <ion-input [type]="passOne ? 'text' : 'password'" id="password" formControlName="password" class="form-control"
      placeholder="Contraseña">
      <ion-icon [name]="passOne ? 'eye-off' : 'eye'" slot="end" (click)="togglePassOne()"></ion-icon>
    </ion-input> -->

        <div style="width: 100%; display: flex;margin-bottom: 4vw;align-items: center; justify-content: space-between;">
            <a id="open-modal" style="text-align: left; width: 85%" (click)="setOpen(true)">Acepto los términos y
        condiciones</a>
            <ion-checkbox id="terms" (ionChange)="onTermsChanged($event)" [checked]="canDismiss"></ion-checkbox>
        </div>
        <button style="margin-bottom: 4vw;" class="send" [disabled]="loading || !canDismiss">Acceder</button>
        <a href="get-email" style="text-align: center; text-decoration: none; margin-bottom: 4vw; width: 100%" class="password">¿Olvidaste tu contraseña?</a>

        <ion-modal [isOpen]="isModalOpen" #modal trigger="open-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-title>
                            <img class="modalLogo" src="../../../assets/icon/el_diario.png" />
                        </ion-title>
                        <ion-buttons slot="end">
                            <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <div class="modalContent">
                        <h1>Pol&iacute;tica de Privacidad "El Diario&rdquo;</h1>
                        <p>Fecha &uacute;ltima actualizaci&oacute;n: <br>
                            <strong>21/12/2022</strong>
                        </p>

                        <p>De conformidad con el Reglamento (UE) 2016/679, del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación
                            de estos datos (en adelante, “Reglamento General de Protección de Datos” o “RGPD”), así como la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (en adelante “LOPDGDD”),
                            The Values Corner S.L. (en adelante, “The Values Corner”) le informa acerca del tratamiento y protección de los datos personales de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios
                            a través del sitio web: https://thevaluescorner.com/ (en adelante, el “Sitio Web”) y sus dominios asociados (en conjunto, los “Servicios”).
                        </p>

                        <h2>1. IDENTIFICACIÓN DEL RESPONSABLE DEL TRATAMIENTO.</h2>

                        <p>The Values Corner S.L., con CIF/NIF N°: <br><br> B06838379 y domicilio a efectos de notificaciones en: C/ Ramón de la cruz 18 e inscrita en el Registro Mercantil de Madrid, Tomo 42071, Folio195, Sección 8ª, Hoja M744950, inscripción
                            1ª (en adelante, el Responsable del Tratamiento), es la entidad responsable del tratamiento de los datos facilitados por los clientes de la Aplicación (en adelante, el/los Usuario/s).
                        </p>

                        <h2>2. FINALIDAD DEL TRATAMIENTO DE DATOS.</h2>

                        <p>Para proceder al registro, acceso y posterior uso del Sitio Web, el Usuario deberá facilitar -de forma voluntaria-, datos de carácter personal (esencialmente, identificativos y de contacto), los cuales serán incorporados a soportes
                            automatizados titularidad de The Values Corner. <br><br>La recogida, almacenamiento, modificación, estructuración y en su caso, eliminación, de los datos proporcionados por los Usuarios, constituirán operaciones de tratamiento
                            llevadas a cabo por el Responsable del Tratamiento, con la finalidad de garantizar el correcto funcionamiento del Sitio Web, mantener la relación de prestación de servicios y/o comercial con el Usuario, y para la gestión, administración,
                            información, prestación y mejora del servicio. <br><br>Los datos personales facilitados por el Usuario especialmente, el correo electrónico o e-mail- podrán emplearse también para remitir boletines (newsletters), así como comunicaciones
                            comerciales, alertas y otros de promociones y/o publicidad del Sitio Web u otros, siempre y cuando, el Usuario haya prestado previamente su consentimiento expreso para la recepción de estas comunicaciones vía electrónica.
                        </p>

                        <h2>3. LEGITIMACIÓN.</h2>

                        <p>El tratamiento de los datos del Usuario se realiza con las siguientes bases jurídicas que legitiman el mismo:<br><br> La solicitud de información y/o la contratación de los servicios de la Aplicación, cuyos términos y condiciones
                            se pondrán a disposición del Usuario en todo caso, con carácter previo, para su expresa aceptación.<br><br> El consentimiento libre, específico, informado e inequívoco del Usuario, poniendo a su disposición la presente política
                            de privacidad, que deberá aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta al posible usuario que desee acceder a la Aplicación, previamente a introducir la autenticación
                            de las credenciales para el acceso. Sin el marcado afirmativo de esta casilla, y consecuente Aceptación de la Política de privacidad, no se permitirá el acceso a la aplicación.
                        </p>

                        <h2>4. CONSERVACIÓN DE LOS DATOS PERSONALES.</h2>

                        <p>Los datos personales proporcionados por el Usuario se conservarán en los sistemas y bases de datos del Responsable del Tratamiento, mientras aquél continúe haciendo uso de la Aplicación, y siempre que no solicite su supresión.<br><br>Con
                            el objetivo de depurar las posibles responsabilidades derivadas del tratamiento, los datos se conservarán por un período mínimo de cinco años.
                        </p>

                        <h2>5. DESTINATARIOS.</h2>

                        <p>Los datos no se comunicarán a ningún tercero ajeno a The Values Corner, salvo obligación legal o en cualquier caso, previa solicitud del consentimiento del Usuario. <br><br> De otra parte, The Values Corner podrá dar acceso o transmitir
                            los datos personales facilitados por el Usuario, a terceros proveedores de servicios, con los que haya suscrito acuerdos de encargo de tratamiento de datos, y que únicamente accedan a dicha información para prestar un servicio
                            en favor y por cuenta del Responsable.
                        </p>

                        <h2>6. RETENCIÓN DE DATOS.</h2>

                        <p>The Values Corner, informa al Usuario de que, como prestador de servicio de alojamiento de datos y en virtud de lo establecido en la Ley 34/2002 de 11 de julio de Servicios de la Sociedad de la Información y de Comercio Electrónico.
                            <br><br> (LSSI), retiene por un período máximo de 12 meses la información imprescindible para identificar el origen de los datos alojados y el momento en que se inició la prestación del servicio. <br><br> La retención de estos
                            datos no atecta al secreto de las comunicaciones y sólo podrán ser utilizados en el marco de una investigación criminal o para la salvaguardia de la seguridad pública, poniéndose a disposición de los jueces y/o tribunales o
                            del Ministerio que así los requiera. <br><br> La comunicación de datos a las Fuerzas y Cuerpos de Seguridad del Estado, se hará en virtud de lo dispuesto por la normativa sobre protección de datos personales, y bajo el máximo
                            respeto a la misma.
                        </p>

                        <h2>7. PROTECCIÓN DE LA INFORMACIÓN ALOJADA.</h2>

                        <p>El Responsable del Tratamiento, adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo,
                            de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos. <br> <br> Si bien el Responsable, realiza copias de seguridad
                            de los contenidos alojados en sus servidores, sin embargo no se responsabiliza de la pérdida o el borrado accidental de los datos por parte de los Usuarios. De igual manera, no garantiza la reposición total de los datos borrados
                            por los Usuarios, ya que los citados datos podrían haber sido suprimidos y/o modificados durante el periodo de tiempo transcurrido desde la última copia de seguridad. <br><br> Los servicios facilitados o prestados a través
                            de la Aplicación, excepto los servicios específicos de backup, no incluyen la reposición de los contenidos conservados en las copias de seguridad realizadas por el Responsable del Tratamiento, cuando esta pérdida sea imputable
                            al usuario; en este caso, se determinará una tarifa acorde a la complejidad y volumen de la recuperación, siempre previa aceptación del usuario. La reposición de datos borrados sólo está incluida en el precio del servicio cuando
                            la pérdida del contenido sea debida a causas atribuibles al Responsable.
                        </p>

                        <h2>8. EJERCICIO DE DERECHOS.</h2>

                        <p>The Values Corner, informa al Usuario de que le asisten los derechos de acceso, rectificación, limitación, supresión, oposición, portabilidad, los cuales podrá ejercitar mediante petición dirigida al correo electrónico: <br><br>go@thevaluescorner.com
                            <br><br> Asimismo, el Usuario tiene derecho a revocar el consentimiento inicialmente prestado, y a interponer reclamaciones de derechos frente a la Agencia Española de Protección de Datos (AEPD).

                        </p>

                        <h2>9. COMUNICACIONES COMERCIALES POR VÍA ELECTRÓNICA.</h2>

                        <p>En aplicación de la LSSI (Ley de Servicios de la Sociedad de la Información), The Values Corner, no enviará comunicaciones publicitarias o promocionales por correo electrónico u otro medio de comunicación electrónica equivalente
                            que previamente no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas. <br><br> En el caso de usuarios con los que exista una relación contractual, jurídica o de servicios previa, el Responsable
                            del Tratamiento, sí está autorizado al envío de comunicaciones comerciales referentes a productos o servicios del Responsable que sean similares a los que inicialmente fueron objeto de contratación con el cliente. <br><br>                            En caso de que el Usuario quiera darse de baja a la hora de recibir las citadas comunicaciones, podrá hacerlo remitiendo su voluntad por e-mail al correo electrónico: <br><br> go@thevaluescorner.com

                        </p>

                        <ion-item>
                            <ion-label class="ion-text-wrap" for="terms">¿Acepta los términos y condiciones?</ion-label>
                            <ion-checkbox id="terms" (ionChange)="onTermsChanged($event)" [checked]="canDismiss"></ion-checkbox>
                        </ion-item>
                    </div>
                </ion-content>
            </ng-template>
        </ion-modal>
    </form>
</div>
<ion-footer class="ion-no-border">
    <span>{{date}} Created by</span>
    <img class="tvc-logo" src="../../../assets/icon/tvc-white.svg" />
</ion-footer>