.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8vw 8vw 5vw;
    background-color: var(--ion-color-light-contrast);
    z-index: 999;
    position: relative;
    .logo {
        height: 10vw;
    }
    .open-menu {
        color: var(--ion-color-medium);
        width: 10vw;
        height: 10vw;
    }
}

.hideable {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vw 8vw;
    background-color: var(--ion-color-light-contrast);
    .greetings {
        color: var(--ion-color-light);
        font-size: 6vw;
        line-height: 6vw;
        font-weight: bold;
        margin-bottom: 6vw;
        margin-top: 4vw;
        .hello {
            margin-bottom: 1vw;
        }
    }
    .to-do {
        margin-bottom: 6vw;
        color: var(--ion-color-medium);
        font-size: 6vw;
    }
    button {
        padding: 2vw 8vw;
        background-color: var(--ion-color-light);
        border-radius: 1vw;
        color: var(--ion-color-light-contrast);
        font-size: 6vw;
        margin-bottom: 6vw;
    }
}

.story-list {
    padding: 16px 0 8px;
    border-bottom: 1px solid #ddd;
    .scroll-horizontal {
        padding-left: 16px;
        padding-bottom: 8px;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        .scroll-item {
            position: relative;
            display: inline-block;
            margin-right: 16px;
            margin-bottom: 8px;
            text-align: center;
            ion-avatar {
                border: 2px solid var(--ion-color-light);
                padding: 2px;
                width: 19vw;
                height: 19vw;
            }
            ion-avatar {
                &.has-update {
                    border: 2px solid var(--ion-color-danger);
                }
            }
        }
    }
    .scroll-horizontal::-webkit-scrollbar {
        display: none;
    }
    .item-label {
        font-size: 13px;
        margin-top: 8px;
    }
}

.section-container {
    padding: 1vw 0 4vw 4vw;
    margin-bottom: 4vw;
    .section-name {
        font-size: 24px;
        margin-bottom: 2vw;
    }
    .scrolling-wrapper {
        /* overflow-x: scroll;
    overflow-y: hidden; */
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        .card {
            flex: 0 0 auto;
            width: 55vw;
            padding: 0;
            margin: 0 4vw 0 0;
            border: 1px solid gray;
            border-radius: 2vw;
            position: relative;
            /* display: inline-block;
      min-height: 70vw;
      max-height: 70vw;
      height: 70vw; */
            .post-thumb {
                width: 100%;
                border-radius: 2vw;
            }
            .icons {
                position: absolute;
                bottom: 4vw;
                left: 4vw;
                .icon {
                    width: 7vw;
                    height: 7vw;
                    margin-right: 4vw;
                }
                .liked {
                    color: red;
                }
            }
            .content {
                padding: 0 4vw 11vw 4vw;
                p {
                    margin: 4vw 0;
                    white-space: normal;
                }
                .title {
                    font-size: 20px;
                }
                .body {
                    font-size: 16px;
                }
            }
        }
    }
    .scrolling-wrapper::-webkit-scrollbar {
        display: none;
    }
}

ion-footer {
    display: flex;
    background-color: var(--ion-color-light-contrast);
    height: 15vw;
    color: var(--ion-color-light);
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 2vw;
    padding-right: 4vw;
    span {
        padding-bottom: 2vw;
        margin-right: 2vw;
    }
    .tvc-logo {
        width: 13vw;
        height: 13vw;
    }
}