<ion-tabs id="menu-footer" [className]="show ? 'show' : 'unShow'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explora">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>Explora</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerts">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accesos">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Accesos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>