<ion-menu side="end" menuId="main-menu" contentId="general" class="sliding-menu" color="ion-color-light-contrast" swipeGesture="false">
    <div class="header">
        <p class="title">{{user?.name}}</p>
        <p class="text">{{user?.email}}</p>
    </div>

    <ion-content>
        <ion-list>
            <ion-item class="menu-content" lines="none" class="ion-no-border" (click)="redirect('alerts')">
                <ion-icon name="notifications"></ion-icon>
                Notificaciones
            </ion-item>

            <ion-item class="menu-content" lines="none" class="ion-no-border" (click)="redirect('mailbox')">
                <ion-icon name="mail-outline"></ion-icon>
                Buzón
            </ion-item>

            <ion-item class="menu-content" lines="none" class="ion-no-border" (click)="redirect('settings')">
                <ion-icon name="build-outline"></ion-icon>
                Ajustes
            </ion-item>

            <ion-item class="menu-content" lines="none" class="ion-no-border" (click)="logout()">
                <ion-icon name="log-out-outline"></ion-icon>
                Cerrar sesión
            </ion-item>
        </ion-list>

        <div class="footer">
            <img src="../../../assets/icon/eci-white.svg">
        </div>
    </ion-content>
</ion-menu>