<div class="section-container">
  <div class="section-name">Novedades</div>
  <div class="scrolling-wrapper">
    <div class="card" (click)="clickPost(1)">
      <img class="post-thumb" src="../../../assets/images/1.jpg">
      <div class="content">
        <p class="title">Sé más productivo</p>
        <p class="body">
          No vamos a descubrir América con ellos, pero tampoco pierdes nada por aplicarlos
        </p>
      </div>
      <div class="icons">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
        <ion-icon class="icon" name="share-social-outline"></ion-icon>
      </div>
    </div>

    <div class="card" (click)="clickPost(2)">
      <img class="post-thumb" src="../../../assets/images/2.jpg">
      <div class="content">
        <p class="title">¿Cómo son los clientes de seguros de Vida?</p>
        <p class="body">
          Lee el artículo entero haciendo clic aquí
        </p>
      </div>
      <div class="icons">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
        <ion-icon class="icon" name="share-social-outline"></ion-icon>
      </div>
    </div>

    <div class="card" (click)="clickPost(3)">
      <img class="post-thumb" src="../../../assets/images/3.jpg">
      <div class="content">
        <p class="title">Y tú… ¿lo entiendes?</p>
        <p class="body">
          Puede que tus clientes tampoco… Sigue leyendo
        </p>
      </div>
      <div class="icons">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
        <ion-icon class="icon" name="share-social-outline"></ion-icon>
      </div>
    </div>

    <div class="card" (click)="clickPost(7)">
      <img class="post-thumb" src="../../../assets/images/7.jpg">
      <div class="content">
        <p class="title">¿Has visto todo lo que tenemos para ti?</p>
        <p class="body">
          Descúbrelo
        </p>
      </div>
      <div class="icons">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
        <ion-icon class="icon" name="share-social-outline"></ion-icon>
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="section-name">Eventos</div>
  <div class="scrolling-wrapper">
    <div class="card" (click)="clickPost(4)">
      <img class="post-thumb" src="../../../assets/images/4.jpg">
      <div class="content">
        <p class="title">Apúntate al Curso de transformación digital de los equipos de ventas</p>
        <p class="body"></p>
      </div>
      <div class="icons">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
        <ion-icon class="icon" name="share-social-outline"></ion-icon>
      </div>
    </div>

    <div class="card" (click)="clickPost(5)">
      <img class="post-thumb" src="../../../assets/images/5.jpg">
      <div class="content">
        <p class="title">Recíclate en el mundo de la venta online</p>
        <p class="body">Amplía tus conocimientos en el uso de las nuevas tecnologías</p>
      </div>
      <div class="icons">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
        <ion-icon class="icon" name="share-social-outline"></ion-icon>
      </div>
    </div>

    <div class="card" (click)="clickPost(6)">
      <img class="post-thumb" src="../../../assets/images/6.jpg">
      <div class="content">
        <p class="title">¡Este curso es para ti!</p>
        <p class="body">Habilidades blandas para profesionales de las ventas</p>
      </div>
      <div class="icons">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
        <ion-icon class="icon" name="share-social-outline"></ion-icon>
      </div>
    </div>
  </div>
</div>